<!-- begin navigation -->
<nav class="container-fluid">
  <div class="row">
    <!-- left -->
    <div class="left col col-md-2 text-left hidden-md hidden-sm hidden-xs">
      <p id="brand"><strong><em>Polar Clock Shop</em></strong></p>
    </div>
    <!-- right -->
    <div class="right col col-md-10">
      <!-- links must contain "_path" suffix -->
      <ul class="list list-unstyled list-inline text-right">
        <!-- home -->
        <li class="<%= 'selected' if current_page?(root_path) %>">
          <i class="fas fa-home"></i>
          <%= link_to "Home", root_path,
            class:"nav-link",
            title:"Landing page",
            toggle:"tooltip", "data-placement":"bottom" %>
        </li>
        <!-- products -->
        <li class="<%= 'selected' if current_page?(products_path) %>">
          <i class="fas fa-cubes"></i>
          <%= link_to "Products", products_path,
            class:"nav-link",
            title:"List all products...",
            toggle:"tooltip", "data-placement":"bottom" %>
        </li>
        <!-- orders -->
        <li class="<%= 'selected' if current_page?(orders_path) %>">
          <i class="fas fa-shopping-cart"></i>
          <%= link_to "Orders", orders_path,
            class:"nav-link",
            title:"Show orders...",
            toggle:"tooltip", "data-placement":"bottom" %>
        </li>
        <!-- demo -->
        <li class="<%= 'selected' if current_page?(demo_path) %>">
          <i class="fas fa-clock"></i>
          <%= link_to "Demo", demo_path,
            class:"nav-link",
            title:"Running demonstration...",
            toggle:"tooltip", "data-placement":"bottom" %>
        </li>
      </ul>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
</nav>
<!-- end navigation -->
