<h3>
  <em>
    <strong>Orders : <%= @orders.count %></strong>
  </em>
</h3>

<hr>

<div class="orders">

  <!-- orders -->
  <% @orders.each do |order| %>
    <div class="row">
      <div class="col-sm-2">
        <h4>
          <em>
            <strong>Order # <%= order.id %></strong>
          </em>
        </h4>
      </div>
      <!-- end column -->
      <div class="col-sm-10">
        <div><%= order.product.name %></div>
        <p><%= order.product.description %></p>
        <p>$ <%= order.product.price %></p>
        <p><%= link_to "View order #" + order.id.to_s, order, class:"btn btn-primary" %></p>
      </div>
      <!-- end column -->
    </div>
    <!-- end row -->
    <hr>
  <% end %>
</div>
