<h3>Order Detail</h3>
<hr>
<!-- Exercise 4.6 -->
<div class="container">
  <strong>Order ID: </strong><%= @order.id %> <br>
  <strong>Product Name: </strong><%= @order.product.name %> <br>
  <strong>Product Price: </strong><%= number_to_currency(@order.product.price.to_f) %> <br>
  <strong>Total Price: </strong><%= number_to_currency(@order.total.to_f) %> <br>
</div>
<hr>
<%= link_to 'Orders', orders_path, class:"btn btn-md btn-default" %>
