<h2>Log in</h2>

<hr>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
    <!-- labels -->
    <div class="col col-md-2 text-right">
      <%= f.label :email %><br>
      <%= f.label :password %><br>
    </div>
    <!-- fields -->
    <div class="col col-md-9">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %><br>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %><br>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>

  </div>


<% end %>

<hr>

<%= render "devise/shared/links" %>
