<!-- Exercise 5.8 -->
<div class="product-reviews">
  <% @comments.each do |comment| %>
    <div class="row">
      <hr>
      <div class="col col-md-4"></div>
      <div class="col col-md-4" style="border: 1px solid black; background: #aaa">
        <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
        <p><%= "Rating: #{comment.rating} of 5" %></p>
        <p><%= comment.body %></p>
        <span class="rated" data-score="<%= comment.rating %>"></span>
      </div>
      <div class="col col-md-4"></div>
    </div>
  <% end %>
</div>
