<!-- Exercise 5.8 -->
<div class="product-reviews">
  <hr>
  <% @comments.each do |comment| %>
    <div class="row" style="margin: 1rem;">
      <div class="col col-md-12 text-center" style="border: 1px solid white; background: #aaa" >
        <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
        <p><%= "Rating: #{comment.rating} of 5" %></p>
        <p><%= comment.body %></p>
        <span class="rated" data-score="<%= comment.rating %>"></span>
      </div>
    </div>
  <% end %>

  <div class="row" style="border: 1px solid white; margin: 1rem;">
    <div class="col col-md-12 text-center">
      <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
    </div>
  </div>

</div>
