<!-- Exercise 5.8 -->

<% if signed_in? %>

  <div class="comment-form">
  <h3 id="comment-caption"><em>Add a review:</em></h3>

  <!-- Exercise 6.10 : Ajax -->
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>

    <div class="row">
      <div class="col-sm-12">

        <div>
          <%= f.label :body, "Comments" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <br>

        <div>
          <%= f.label :rating %>
          <span class="rating"></span>
        </div>
        <br>

      </div>
    </div>

    <%= f.submit "Submit review", class: "btn btn-primary" %>

  <% end %>
  </div>

<% end %>
