<h3><%= @product.name %></h3>

<hr>

<!-- Exercise 6.14 : product id is passed... -->
<div class="row product-row" data-product-id="<%= @product.id %>">

  <!-- product image -->
  <div class="col col-sm-3">
    <% @zoomImage = 'z' + @product.image_url%>
    <%= image_tag(@zoomImage, class: "img-responsive img-zoom", data_zoom_image: @zoomImage) %>
  </div>

  <!-- product data -->
  <div class="col col-sm-9">

    <p>
      <%= @product.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= number_to_currency(@product.price) %>
    </p>

    <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div>

    <p id="average-rating-text">
      <% if @product.average_rating %>
        <em>Average rating:</em>
        <%= number_to_human(@product.average_rating) %>
      <% else %>
        <em>No user ratings yet...</em>
      <% end %>
    </p>

    <!-- Exercise 6.5 -->
    <% if current_user %>
      <%= form_with(url: '/payments/create') do |form| %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: "partials/stripe_checkout_button" %>
      <% end %>
    <% end %>

    <% if signed_in? && current_user.admin? %>
      <%= link_to 'Edit product...', edit_product_path(@product), class:"btn btn-md btn-default" %>
    <% end %>

  </div>

</div>

<!-- Exercise 5.8 -->
<%= render 'new_comment' %>
<!-- Exercise 6.13 : ActionCable... -->
<% if @comments.count > 0 %>
  <h3>Reviews : <span id="comment-cnt"><%= @comments.count %></span></h3>
  <div class="alert alert-info" style="display:none" role="alert">
    A new comment was posted...
  </div>
  <%= render 'comments' %>
<% end %>
