<h3>Show Product</h3>

<hr>

<div class="row">

  <!-- product image -->
  <div class="col col-sm-3">
    <%= image_tag(@product.image_url, class: "img-responsive") %>
  </div>

  <!-- product data -->
  <div class="col col-sm-9">

    <h3><%= @product.name %></h3>

    <p>
      <%= @product.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= number_to_currency(@product.price) %>
    </p>

    <p>
      <% if @product.average_rating %>
        <em>Average rating:</em>
        <%= number_to_human(@product.average_rating) %>
      <% else %>
        <em>No user ratings yet...</em>
      <% end %>
    </p>

    <p>
      <span class="rated" data-score="<%= @product.average_rating %>"></span>
    </p>

    <% if current_user %>
      <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-md btn-success" %>
    <% end %>

  </div>

</div>

<!-- Exercise 5.8 -->
<%= render 'new_comment' %>
<%= render 'comments' %>
