<!DOCTYPE html>
<html>
  <head>

    <title>First Rails Application</title>
    <!-- cross site request forgery protection -->
    <%= csrf_meta_tags %>
    <!-- resource configuration and imports -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- normalize animation behaviour on Heroku -->
    <meta name="turbolinks-cache-control" content="no-cache">
    <!-- replace with sprockets ? -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>

    <!-- navigation partial -->
    <%= render 'layouts/navigation' %>

    <!-- views... -->
    <div id="view-container" class="container enter">
      <!-- ...shall be centered in viewport -->
      <div id="view-div">
        <%= yield %>
      </div>
    </div>

    <!-- footer partial -->
    <%= render 'layouts/footer' %>

  </body>
</html>
