<!DOCTYPE html>
<html>
  <head>

    <title>First Rails Application</title>
    <!-- cross site request forgery protection -->
    <%= csrf_meta_tags %>
    <!-- resource configuration and imports -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- normalize animation behaviour on Heroku -->
    <meta name="turbolinks-cache-control" content="no-cache">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <!-- replace with sprockets ? -->
    <!-- ...works well in satellite projects... -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>

  </head>

  <!-- body -->
  <%= content_tag :body, data: { action: action_name, controller: controller_name } do %>

    <header>
      <%= render 'partials/navigation' %>
    </header>

    <main id="view-container" class="enter">
      <div id="view-div"><%= yield %></div>
    </main>

    <footer>
      <%= render 'partials/footer' %>
    </footer>

  <% end %>
  <!-- end body -->

</html>
